<div class="projects">
	<h1 class="text-center">Proyectos</h1>
	<div class="row">
		<div class="project col-xs-4">
			<img src="project1.png">
			<h4 class="text-center">BPMA/AllTax TIMP</h4>
			Manejador de procesos de negocios. Desarrollo de parte del componente durante la pasantía en Agile Solutions
		</div>
		<div class="project col-xs-4">
			<img src="project2.jpeg">
			<h4 class="text-center">Poker</h4>
			<p>Videojuego y simulador de poker. Desarrollado en la clase de programación 3, utilizando C++ y NCurses como entorno gráfico</p>
		</div>
		<div class="project col-xs-4">
			<img src="project3.jpeg">
			<h4 class="text-center">La Ciudad</h4>
			<p>Simulador del tráfico de vehículos. Desarrollado en la clase de programación 3 utilizando C++ y NCurses como entorno gráfico. Además implementación de Threads.</p>
		</div>
	</div>
	<div class="row">
		<div class="project col-xs-4">
			<img src="project4.png">
			<h4 class="text-center">EasyShop</h4>
			<p>Prototipo de tienda virtual para microempresas. Diseñado para teléfonos celulares.
		</div>
		<div class="project col-xs-4">
			<img src="project5.png">
			<h4 class="text-center">La Potra</h4>
			<p>Prototipo de apliación para teléfonos celulares capaz de reservar canchas de fútbol, armar "potras" y crear y administrar torneos.</p>
		</div>
	</div>
</div>